.navigationPanel button {
    display: block;
    color: #007bff;
    background-color: transparent;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.navigationPanel button:hover {
    background-color: #f0f0f0;
    color: #007bff;
}

.createProjectContainer {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.projectTitleContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
}

.projectNameInput {
    margin-left: 40px;
    margin-right: 10px;
    font-size: 18px;
}

.projectNameText  {
    margin-left: 40px;
    margin-right: 20px;
    background-color: transparent;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}

.projectNameText :hover {
    background-color: rgba(0, 123, 255, 0.1); /* Slightly darker on hover */
}

.createInteractiveButtons {
    width: 40px; /* Equal width and height make it a square */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Adjust or remove padding to ensure it stays square */
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.createInteractiveButtons:hover{
    background-color: #0056b3;
}

.formGroup {
    margin-bottom: 15px;
}
  
.formGroup label {
    display: block;
    margin-bottom: 5px;
}
  
.formGroup input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.projectDisplay {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.imageContainer {
    width: 100%;
    overflow: hidden; /* Only for debugging */
}

.projectImage {
    max-width: 100%;
    height: auto;
}

.submitBtn, .cancelBtn{
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
}

.cancelBtn {
    margin-top: 10px;
    background-color: #ccc;
    color: #333;
}
.cancelBtn:hover {
    background-color: #bbb;
}

.submitBtn {
    background-color: #007bff;
    color: white;
}
.submitBtn:hover, .editButton:hover{
    background-color: #0056b3;
}