<!DOCTYPE html>
<html lang="en">
  <head>
    <meta htpp-equiv="X-UA-Compatable" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <title>Hardware Data Input</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <div id="edittitle">
    <h1 contenteditable="true">Create Interactive Blueprint</h1>
  </div>
  <body>
    <button id="startButton">Add Hardware</button>
    <div id="imageContainer"></div>
    <div id="inputForm" class="modal">
      <form class="form-container">
        <h1>Hardware Data</h1>
        <label for="Number"><b>Number</b></label>
        <input type="text" placeholder="Enter Number" name="number" required />

        <label for="size"><b>Size</b></label>
        <input type="text" placeholder="Enter Size" name="size" required />

        <label for="type"><b>Type</b></label>
        <input type="text" placeholder="Enter Type" name="type" required />

        <label for="photo"><b>Photo</b></label>
        <input type="file" name="photo" optional />

        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn cancel" onclick="closeForm()">
          Close
      </form>
    </div>
    <script src="script.js"></script>
  </body>
  <body>
    <div id="imageDisplay"></div>
    <button id="newimage">New Blueprint</button>
    <div id="inputFormimage" class="modal">
      <form class="form-container">
        <h1>Project Image</h1>

        <label for="photo"><b>Photo</b></label>
        <input type="file" name="photo" required />

        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn cancel" onclick="closeFormImage()">
          Close
        </button>
      </form>
    </div>
    <script src="script.js"></script>
  </body>
</html>

