.signUpPage {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.signUpPage h2 {
    text-align: center;
    margin-bottom: 20px;
}
  
.formGroup {
    margin-bottom: 15px;
    margin-right: 15px;
}

.UsernameGroup {
    display: flex;
    align-items: center;
    position: relative;
}

.checkUsernameBtn {
    margin-left: 10px; /* Adjust based on your actual button size */
    cursor: pointer;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    width: 15%;
    height: 100%;
}

.checkUsernameBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
  
.formGroup label {
    display: block;
    margin-bottom: 5px;
}
  
.formGroup input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #0056b3;
}
  
.signUpPage a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}    
  
.signUpPage a:hover {
    text-decoration: underline;
}
  
.signUpPage small {
    display: block;
    margin-top: 5px;
    color: #666;
}

.homeIcon {
    display: block;
    margin: 0 auto 10px;
    width: 50px;
    height: 50px;
}

.checkUsernameBtn.loading {
    background-color: #ffc107; /* Yellow for loading */
}

.checkUsernameBtn.available {
    background-color: #28a745; /* Green for available */
}

.checkUsernameBtn.unavailable {
    background-color: #dc3545; /* Red for unavailable */
}